.button-group button.green {
    border-color: #28A745;
    color: #28A745;
}

.button-group button.green:hover {
    background-color: #28A745;
    color: #fff;
}

.button-group button.yellow {
    border-color: #FFC107;
    color: #FFC107;
}

.button-group button.yellow:hover {
    background-color: #FFC107;
    color: #212529;
}

.button-group button.red {
    border-color: #DC3545;
    color: #DC3545;
}

.button-group button.red:hover {
    background-color: #DC3545;
    color: #fff;
}