.button-group button.green {
    border-color: #28A745;
    color: #28A745;
}

.button-group button.green:hover {
    background-color: #28A745;
    color: #fff;
}

.button-group button.yellow {
    border-color: #FFC107;
    color: #FFC107;
}

.button-group button.yellow:hover {
    background-color: #FFC107;
    color: #212529;
}

.button-group button.red {
    border-color: #DC3545;
    color: #DC3545;
}

.button-group button.red:hover {
    background-color: #DC3545;
    color: #fff;
}

.button-group {
    display: flex;
}

.button-group button {
    margin-right: 10px;
    padding: 10px;
    border: solid 1px transparent;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    background-color: #fff;
    font-weight: 400;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 900px) {
    .button-group button {
        margin-right: 6px;
        padding: 6px;
    }
}