.tasks {
    width: 100%;

}

.cl {
    width: 100%;
}

.hr {
    border-color: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.header {
    padding: 10px 0px;
    font-size: var(--font-size-xlarge);
}

@media (max-width: 900px) {
    .header {
        padding: 8px 0px;
        font-size: var(--font-size-large);
    }
}