.task {
    padding: 20px;
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.time {
    align-self: flex-end;
    font-size: var(--font-size-small);
}

.task-content {
    align-self: flex-start;
    font-size: var(--font-size-medium);
}

.title {
    font-size: var(--font-size-large);
}

.hw {
    align-self: flex-start;
    width: 200px;
    margin: 10px 0px;
    border-color: rgba(0, 0, 0, 0.);
}

.time p {
    display: block;
    margin: 0px;
    text-align: center;
}

@media (max-width: 900px) {
    .task-content {
        font-size: var(--font-size-small);
    }

    .title {
        font-size: var(--font-size-medium);
    }

    .time {
        font-size: var(--font-size-xsmall);
    }
}